# Environment variables
.env

# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django files
db.sqlite3
*.log

# IDE/editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
